<div class="container">
    <!-- I-Card Information! -->
        <div class="row col-xs-12 empwithform">
            <div id="icard" class="icard_card cardright">
                    <div class="icard_img">
                        <a> <img src={{imageUrl}} alt="Employee" width="133px" height="170px"> </a>
                    </div>
                <div class="icard_personalInfo" >
                    <div class="icard_content">
                        <div class="form-group">
                            <label for="EmployeeName">Name :&nbsp;</label>
                            <input name="EmployeeName" class="input" value="{{employees[count].name}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="EmployeeEmail">Email :&nbsp;</label>
                            <input name="EmployeeEmail" class="input" value="{{employees[count].email}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="EmployeeDob">DOB :&nbsp;</label>
                            <input name="EmployeeDob" class="input" value="{{employees[count].dob}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="EmployeeMob">Mobile :&nbsp;</label>
                            <input name="EmployeeMob" class="input" value="{{employees[count].contactNumber}}" readonly>
                        </div>
                    </div>
                </div>
            </div>
        
                    <!-- Editing Employee Form -->
                    <div class="editingform">
                        <app-addemployee *ngIf="addemployee.value"></app-addemployee>
                        <app-editemployee *ngIf="editemployee.value"></app-editemployee>
                    </div>
                </div>
                
                    <!-- Right Left Arrow Buttons -->
                    <div class="switchingEmp">
                        <button  class="slideBtn"(click)="leftBtn()"><</button>
                        <button class="slideBtn" (click)="rightBtn()">></button>
                    </div>
                    <!-- Buttons -->
                    <div class="buttonRow col-xs-12">
                        <hr>
                        <div class="icard_Mng_Button">
                            <button class="icard_Btns" (click)="addEmpBtnClicked()"><img src="assets\add.png" width="35 px" height="45px" alt="Add New Employee"></button>
                            <button class="icard_Btns" (click)="onlyICard()"><img  src="assets\Delete.png" width="35px" height="40px" alt="DeleteEmployee"></button>
                            <button class="icard_Btns" (click)="editingEmpBtnClicked(employees[count].id)"><img src="assets\edit.png" width="35px" height="35px" alt="Edit Employee"></button>
                        </div>
                    </div>
</div>