.input{
    outline: none;
    border: none;
    width: 150px;
}
.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.empwithform{
    display: flex;
    /* flex-direction:row; */
    justify-content: center;
    border: 0px solid green;
}
.icard_personalInfo{
    display: flex;
    justify-content: space-evenly   ;
    flex-direction: column;
    border: none;
    margin: auto;
}
.icard_Mng_Button{
    display: flex;
    justify-content: space-evenly;  
    font-size: 20px;
    font-family: cursive;
}
.icard_img{
    display: block;
    margin:auto;
}
.switchingEmp{
    display: flex;
    justify-content: space-between;  
    height:5px;
}
.icard_card{
    border: 0 solid grey;
    border-radius: 10px;
    width:270px;
    height:360px;
    display: flex;
    flex-direction: column;
    justify-items:center;
    justify-content: center;
    margin:auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 25px -10px;
}
.cardleft{
    animation: slideleft 0.7s ease-in;
}
@keyframes slideleft {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-800px);
    }
}
.cardright{
    animation: slideright 0.7s ease-in;
}
@keyframes slideright {
    0%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0);
    }
}
.icard_card:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.buttonRow{
    display: block;
}
.icard_Btns{
    border: 0 solid rgba(255, 255, 255, 0);
    background-color: transparent;
    box-shadow: 1px 2px 5px;
    border-radius: 15px;
}
.icard_Btns:hover{
    border-radius: 30%;
}
.slideBtn{
    font-size: 30px;
    border:none;
    background-color:transparent;
}
.slideBtn:hover{
    font-size: 35px;
    text-shadow: 20px;
    font-weight: bolder;
}