.container{
    width: 500px;
    border: 1px solid rgb(79, 119, 240);
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 25px -10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
input{
    width: 400px;
}
.FormHeading{
    font-size: 20px;
    text-align: center;
}
.submitformbtns{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}