.index_heading{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    background-color: aliceblue;
    color: rgb(31, 129, 194);
}